@font-face
{
    font-family: 'poppinsmedium';font-weight: normal;font-style: normal;src: url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/poppins-medium-webfont.woff2') format('woff2'),url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/poppins-medium-webfont.woff') format('woff');;
}@font-face
{
    font-family: 'poppinsregular';font-weight: normal;font-style: normal;src: url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/poppins-regular-webfont.woff2') format('woff2'),url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/poppins-regular-webfont.woff') format('woff');;
}@font-face
{
    font-family: 'hindmedium';font-weight: normal;font-style: normal;src: url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-medium-webfont.woff2') format('woff2'),url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-medium-webfont.woff') format('woff');;
}@font-face
{
    font-family: 'hindregular';font-weight: normal;font-style: normal;src: url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-regular-webfont.woff2') format('woff2'),url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-regular-webfont.woff') format('woff');;
}@font-face
{
    font-family: 'hindsemibold';font-weight: normal;font-style: normal;src: url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-semibold-webfont.woff2') format('woff2'),url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-semibold-webfont.woff') format('woff');;
}@font-face
{
    font-family: 'hindbold';font-weight: normal;font-style: normal;src: url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-bold-webfont.woff2') format('woff2'),url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-bold-webfont.woff') format('woff');;
}@font-face
{
    font-family: 'hindlight';font-weight: normal;font-style: normal;src: url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-light-webfont.woff2') format('woff2'),url('https://keenthemes.com/keen/themes/keen/doc/assets/fonts/hind-light-webfont.woff') format('woff');;
}*
{
    -webkit-box-sizing: border-box                                                                                                                                                            ;box-sizing: border-box;-webkit-transition: all .2s ease;transition: all .2s ease;
}*:focus
{
    outline: none !important;
}html,
body
{
    margin: 0;
}body
{
    font-size: 15px;

    position: relative;;
}.cover-layout
{
    position: fixed;z-index: 90;top: 0;left: 0;

    visibility: hidden;width: 100%;height: 100%;content: '';opacity: 0;background-color: rgba(0,0,0,.6);
}.pt60
{
    padding-top: 60px;
}.bg-gray
{
    background-color: #faf9fb;
}.p30
{
    padding: 30px;
}.section
{
    width: 100%;
}.section.section--header
{
    position: relative;padding-top: 30px;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/header-bg.jpg') no-repeat bottom;background-size: cover;
}.section.section--header-inner
{
    position: relative;padding-top: 30px;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/bg-inner.jpg') fixed bottom;background-size: cover;
}.section.section--white
{
    background-color: white;
}.section.section--bg
{
    padding: 120px 0;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/bg-globe.jpg') no-repeat fixed bottom;background-size: cover;
}.section.section--bg-demo
{
    padding: 120px 0;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/shape.png') no-repeat fixed 100% 0;background-size: 60%;
}.section.section--bg-widgets
{
    padding: 250px 0;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/bg-widgets.jpg') no-repeat fixed bottom;background-size: cover;
}.section.section--bg-features
{
    padding: 250px 0;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/features-bg.jpg') no-repeat fixed 100% 0;background-size: cover;
}.section.section--bg-footer
{
    padding: 100px 0;background: #6e4ff6;background: -webkit-gradient(linear, left top, right top, from(#6e4ff6), to(#4825e1));background: linear-gradient(to right, #6e4ff6 0%, #4825e1 100%);
}.section.section--padding
{
    padding-top: 60px;padding-bottom: 100px;
}.section.shadow-top
{
    -webkit-box-shadow: 0 -17px 38px 0 rgba(22,31,99,.04)                                                                                                                                    ;box-shadow: 0 -17px 38px 0 rgba(22,31,99,.04);-o-box-shadow: 0 -17px 38px 0 rgba(22,31,99,.04);;
}.section.shadow-top-inset
{
    -webkit-box-shadow: inset 0 17px 38px 0 rgba(22,31,99,.04)                                                                                                                                    ;box-shadow: inset 0 17px 38px 0 rgba(22,31,99,.04);-o-box-shadow: inset 0 17px 38px 0 rgba(22,31,99,.04);;
}.content
{
    width: 1280px;
    margin: 0 auto;;
}.content.content--fluid
{
    width: auto;margin: 0 40px;
}.header__handler
{
    display: -webkit-inline-box                                                                                                                            ;display: -webkit-inline-flex;display: -ms-inline-flexbox;display:         inline-flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;;
}header
{
    width: 100%;height: 87px;
}header > div
{
    display: -webkit-box                                                                                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;height: 100%;
}.sidebar
{
    position: relative;
}.hamburger
{
    display: none;margin-right: 10px;

    cursor: pointer;;
}.hamburger svg
{
    vertical-align: middle;
}.sidebar__menu_wrap
{
    position: fixed;z-index: 100;top: 0;left: -200px;

    width: 200px;height: 100%;background-color: white;;
}.sidebar__menu_wrap .sidebar__menu
{
    height: 100%;margin: 0;padding: 20px 0 0 0;

    list-style-type: none;;
}.sidebar__menu_wrap .sidebar__menu_close
{
    position: absolute;top: 5px;right: 10px;

    cursor: pointer;;
}.sidebar__menu_wrap .sidebar__menu__item a
{
    font-family: 'hindbold';font-size: 14px;line-height: 50px;

    display: block;padding: 0 30px;text-decoration: none;letter-spacing: 1px;text-transform: uppercase;color: #333a49;;
}.sidebar__menu_wrap .sidebar__menu__item a:hover
{
    color: #ff1d92;
}.header__references
{
    display: -webkit-box                                                                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: end;-ms-flex-pack: end;-webkit-justify-content: flex-end;justify-content: flex-end;
}.header__references_support
{
    font-family: 'hindbold';font-size: 14px;

    position: relative;text-decoration: none;letter-spacing: 1px;text-transform: uppercase;color: white;;
}.header__references_support:active,
.header__references_support:focus,
.header__references_support:hover
{
    text-decoration: none;color: white !important;
}.header__references_support:active::after,
.header__references_support:focus::after,
.header__references_support:hover::after
{
    position: absolute;z-index: 2;bottom: -8px;left: 0;width: 100%;height: 1px;content: '';background-color: rgba(255,255,255,.2);
}.header__references_purchase
{
    font-family: 'hindbold';font-size: 13px;line-height: 46px;

    margin-left: 28px;padding: 0 28px;text-decoration: none;letter-spacing: 1px;text-transform: uppercase;color: white;border: 1px solid #ff1d92;-webkit-border-radius: 50px;border-radius: 50px;;
}.header__references_purchase:active,
.header__references_purchase:focus,
.header__references_purchase:hover
{
    text-decoration: none;color: white !important;background-color: #ff1d92;
}.intro
{
    display: -webkit-box                                                                                                                                                                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;padding-top: 70px;
}.intro img
{
    margin-bottom: 37px;
}.intro__title
{
    font-family: 'poppinsregular';font-size: 23px;font-weight: 400;line-height: 35px;

    margin: 0 0 41px;padding: 20px 0;text-align: center;color: white;border-top: 1px solid rgba(255,255,255,.1);border-bottom: 1px solid rgba(255,255,255,.11);;
}.twitter__button
{
    font-family: 'hindbold';position: relative;top: 10px;display: -webkit-inline-box;display: -webkit-inline-flex;display: -ms-inline-flexbox;display:         inline-flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;height: 50px;margin-left: 10px;padding: 0 30px;border: 1px solid rgba(255,255,255,.3);
    -webkit-border-radius: 50px;border-radius: 50px;;
}.main__menu_wrap
{
    position: absolute;bottom: -60px;left: 50%;width: 1200px;height: 130px;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);background-color: white;-webkit-box-shadow: 0 0 20px 0 rgba(62,28,131,.1);box-shadow: 0 0 20px 0 rgba(62,28,131,.1);-o-box-shadow: 0 0 20px 0 rgba(62,28,131,.1);;
}.main__menu
{
    display: -webkit-box                                                                                                                                                                                                                                            ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;height: 100%;margin: 0;padding: 0;;
}.main__menu__item
{
    list-style-type: none;
}.main__menu__item.highlight
{
    margin-left: 20px;
}.main__menu__item.highlight > a
{
    font-family: 'hindbold';
    font-size: 13px;text-transform: uppercase;color: white;-webkit-border-radius: 5px;border-radius: 5px;background-color: #d427ff;;
}.main__menu__item.highlight > a:hover
{
    background-color: #c300f3;
}.main__menu__item:not(.highlight) > a:hover span
{
    padding-bottom: 16px;border-bottom: #ccc 2px dashed;
}.main__menu__item.active span
{
    padding-bottom: 16px;border-bottom: #6f6e91 2px dashed;
}.main__menu__item a
{
    font-family: 'poppinsmedium';font-size: 17px;line-height: 45px;

    display: block;padding: 0 20px;text-decoration: none;letter-spacing: 1px;color: white;;
}.theme__row
{
    display: -webkit-box                                                                                                                                                                                                                            ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: start;-webkit-align-items: flex-start;align-items: flex-start;-ms-flex-align: start;-webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;margin-top: 100px;margin-bottom: 10px;;
}.theme__row .separator
{
    padding: 0 50px;
}.theme__row .theme__column
{
    width: 50%;
}.theme__row .theme__column .theme__column_inner .theme__column_top
{
    display: -webkit-box                                                                                                                                                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;
}.theme__row .theme__column .theme__column_inner .theme__column_top h3
{
    font-family: 'hindsemibold';font-size: 22px;

    margin-bottom: 30px;color: #333a49;
}.theme__row .theme__column .theme__column_inner .theme__column_top h3 span
{
    font-family: 'hindlight';
    font-size: 22px;color: #9194a6;
}.theme__row .theme__column .theme__column_inner .theme__column_img
{
    position: relative;-webkit-box-shadow: 0 0 43px 0 rgba(22,31,99,.07);box-shadow: 0 0 43px 0 rgba(22,31,99,.07);-o-box-shadow: 0 0 43px 0 rgba(22,31,99,.07);;
}.theme__row .theme__column .theme__column_inner .theme__column_img img
{
    max-width: 100%;

    -webkit-border-radius: 10px                                                                                    ;border-radius: 10px;;
}.theme__row .theme__column .middle
{
    position: absolute;top: 0;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;width: 100%;height: 100%;-webkit-transition: .5s ease;transition: .5s ease;text-align: center;opacity: 0;;
}.theme__row .theme__column .middle .button + .button
{
    margin-left: 10px;
}.theme__row .theme__column .backdrop
{
    position: absolute;top: 0;width: 100%;height: 100%;opacity: 0;
    -webkit-border-radius: 10px;border-radius: 10px;background-color: #4c4a54;;
}.theme__row .theme__column:hover .backdrop
{
    opacity: .47;
}.theme__row .theme__column:hover .middle
{
    opacity: 1;
}.blockquote
{
    font-family: 'hindregular';font-size: 24px;line-height: 34px;

    position: relative;width: 900px;margin: 0 auto;padding: 60px 40px;color: #9591a6;border-left: none;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/quote.png') no-repeat;;
}.blockquote .blockquote__author
{
    font-family: 'hindregular';font-size: 20px;

    float: right;margin-top: 50px;color: #b3afc3;;
}.blockquote .blockquote__author span
{
    font-family: 'hindsemibold';color: #382e4f;
}.content--padding
{
    padding-top: 100px;padding-bottom: 100px;
}.advantages
{
    margin: 0;

    -webkit-box-shadow: 0 0 38px 0 rgba(22,31,99,.07)                                                                                                                                    ;box-shadow: 0 0 38px 0 rgba(22,31,99,.07);-o-box-shadow: 0 0 38px 0 rgba(22,31,99,.07);;
}.advantages .advantages__block
{
    display: -webkit-inline-box                                                                                                                                                                                            ;display: -webkit-inline-flex;display: -ms-inline-flexbox;display:         inline-flex;-webkit-box-align: start;-webkit-align-items: flex-start;align-items: flex-start;-ms-flex-align: start;height: 210px;padding: 60px 40px;border-bottom: 1px solid #f1f2f3;border-left: 1px solid #f1f2f3;;
}.advantages .advantages__block.first-column
{
    border-left: 0;
}.advantages .advantages__block i
{
    font-size: 50px;
    line-height: 0;background: -webkit-gradient(linear, left top, left bottom, from(#b245df), to(#336dea));background: linear-gradient(#b245df, #336dea);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
}.advantages .advantages__icon
{
    -webkit-flex-shrink: 0;-ms-flex-negative: 0;flex-shrink: 0;width: 50px;height: 50px;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/icon__sprite.png') no-repeat;
}.advantages .advantages__icon_responsive
{
    background-position: 0 0;
}.advantages .advantages__icon_complete
{
    background-position: 0 -66px;
}.advantages .advantages__icon_support
{
    background-position: 0 -134px;
}.advantages .advantages__icon_material
{
    background-position: 0 -198px;
}.advantages .advantages__icon_rtl
{
    background-position: 8px -266px;
}.advantages .advantages__icon_customers
{
    background-position: 0 -329px;
}.advantages .advantages__icon_powerful
{
    background-position: 0 -390px;
}.advantages .advantages__icon_reusable
{
    background-position: 0 -454px;
}.advantages .advantages__icon_limitless
{
    background-position: 0 -528px;
}.advantages .advantages__block__content
{
    padding-left: 30px;
}.advantages .advantages__block__content h3
{
    font-family: 'hindmedium';font-size: 20px;font-weight: normal;

    margin-top: 0;color: #333a49;;
}.advantages .advantages__block__content p
{
    font-family: 'hindlight';font-size: 16px;line-height: 23px;

    margin-bottom: 0;color: #858c90;
}.text-center
{
    text-align: center;
}.button
{
    font-family: 'hindbold';font-size: 14px;line-height: 45px;

    display: -webkit-inline-box;display: -webkit-inline-flex;display: -ms-inline-flexbox;display:         inline-flex;padding: 0 25px;text-decoration: none;text-transform: uppercase;color: white;-webkit-border-radius: 5px;border-radius: 5px;;
}.button:hover
{
    text-decoration: none;color: white;
}.button.button-subscribe
{
    background-color: #6e4ff6;
}.button.button-subscribe:hover
{
    background-color: #461ef4;
}.button.button-preview
{
    background-color: #6e4ff6;
}.button.button-preview:hover
{
    background-color: #461ef4;
}.button.button-preview-2
{
    color: #514c5b;
    background-color: white;;
}.button.button-preview-2:hover
{
    background-color: #f1f2f3;
}.button.disabled,
.button[disabled]
{
    color: #fff;
    border: 1px solid #bfc1d2;background-color: #bfc1d2;;
}.button.disabled:hover,
.button[disabled]:hover
{
    border-color: #b6b8cc;
    background-color: #b6b8cc;;
}footer
{
    display: -webkit-box                                                                                                                                                                                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;padding-top: 95px;padding-bottom: 95px;
}footer > img
{
    margin-bottom: 10px;
}.subscribe
{
    position: relative;width: 510px;height: 65px;margin: 50px 0;-webkit-box-shadow: 0 0 30px 0 rgba(62,28,131,.05);box-shadow: 0 0 30px 0 rgba(62,28,131,.05);-o-box-shadow: 0 0 30px 0 rgba(62,28,131,.05);;
}.subscribe input
{
    font-family: 'hindlight';font-size: 17px;width: 100%;height: 100%;
    padding: 0 130px 0 32px;color: #aba5b7;border: none;-webkit-border-radius: 5px;border-radius: 5px;background-color: white;;
}.subscribe input::-webkit-input-placeholder,
.subscribe input::-webkit-input-placeholder,
.subscribe input::-moz-placeholder,
.subscribe input:-ms-input-placeholder,
.subscribe input:-moz-placeholder
{
    font-family: 'poppinsregular';
    font-size: 16px;color: #aba5b7;
}.subscribe input::placeholder,
.subscribe input::-webkit-input-placeholder,
.subscribe input::-moz-placeholder,
.subscribe input:-ms-input-placeholder,
.subscribe input:-moz-placeholder
{
    font-family: 'poppinsregular';
    font-size: 16px;color: #aba5b7;
}.subscribe button
{
    font-family: 'hindbold';font-size: 15px;line-height: 48px;

    position: absolute;z-index: 1;top: 9px;right: 9px;height: 48px;padding: 0 30px;cursor: pointer;text-decoration: none;text-transform: uppercase;color: white;border: none;;
}.button_purple
{
    font-family: 'hindbold';font-size: 12px;line-height: 42px;

    display: inline-block;height: 42px;padding: 0 24px;cursor: pointer;text-decoration: none;text-transform: uppercase;color: white;border: none;-webkit-border-radius: 50px;border-radius: 50px;background-color: #2769ff;;
}.button_purple:focus,
.button_purple:active,
.button_purple:hover
{
    text-decoration: none;

    color: white;background-color: #004af3;
}.socials a
{
    margin-right: 15px;margin-left: 15px;
}.socials a:hover
{
    text-decoration: none;
}.socials i
{
    font-size: 24px;
}.socials .socicon-twitter
{
    color: #1da1f2;
}.socials .socicon-facebook
{
    color: #3b5998;
}.socials .socicon-dribbble
{
    color: #ea4c89;
}.socials .socicon-envato
{
    color: #82b541;
}.socials img
{
    margin-bottom: 15px;
}.even_more
{
    font-weight: 300;margin: 7rem auto 1rem auto;

    text-align: center;color: #9194a6;;
}.contents
{
    display: -webkit-box                                                                                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: start;-webkit-align-items: flex-start;align-items: flex-start;-ms-flex-align: start;-webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;padding-top: 60px;
}.contents__box
{
    width: 991px;
    padding: 40px;-webkit-box-shadow: 0 0 38px 0 rgba(22,31,99,.07);box-shadow: 0 0 38px 0 rgba(22,31,99,.07);-o-box-shadow: 0 0 38px 0 rgba(22,31,99,.07);;
}.contents__box_tab
{
    display: none;
}.contents__box_tab.active
{
    display: block;
}.title_h3
{
    font-family: 'hindmedium';font-size: 20px;font-weight: inherit;

    margin-top: 0;color: #333a49;;
}.title_h4
{
    font-family: 'hindmedium';font-size: 18px;font-weight: inherit;

    margin-top: 0;color: #333a49;;
}.title_h5
{
    font-family: 'hindmedium';font-size: 16px;font-weight: inherit;

    margin-top: 0;color: #333a49;;
}p
{
    font-family: 'hindregular';
    font-size: 15px;line-height: 22px;color: #7d8099;;
}.contents__sidebar
{
    -webkit-flex-shrink: 0;-ms-flex-negative: 0;flex-shrink: 0;width: 270px;
}.contents__sidebar button
{
    margin-bottom: 50px;
}.margin-none
{
    margin: 0 !important;
}.contents__sidebar_list
{
    margin: 0;padding: 0;

    list-style-type: none;-webkit-transition: all .5s ease;transition: all .5s ease;background-color: white;;
}.contents__sidebar_list li > a
{
    font-family: 'hindregular';font-size: 15px;

    display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;width: 100%;height: 50px;padding: 0 20px;text-decoration: none;color: #5d607b;;
}.contents__sidebar_list li > a:hover
{
    color: #6178d8;
}.contents__sidebar_list li > a.active
{
    color: #6178d8;-webkit-border-radius: 100px;border-radius: 100px;background-color: #f5f4f9;;
}.contents__sidebar_list li > a.active + ul
{
    display: block;
}.contents__sidebar_list li > a.active .arrow__icon
{
    background-position: left bottom -2px;
}.sublist
{
    display: none;padding-left: 15px;list-style-type: none;
}.sublist li
{
    padding: 0;
}.sublist li a
{
    height: 40px;
}.contents__sidebar_list_inset
{
    height: 900px;margin: 0;padding: 0;

    list-style-type: none;-webkit-transition: all .5s ease;transition: all .5s ease;background-color: white;;
}.contents__sidebar_list_inset li > a
{
    font-family: 'hindregular';font-size: 16px;

    display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;width: 100%;height: 50px;padding: 0 20px;text-decoration: none;letter-spacing: 1px;color: #5d607b;;
}.contents__sidebar_list_inset li > a:hover
{
    color: #6178d8;
}.contents__sidebar_list_inset li > a.active + ul
{
    display: block;
}.contents__sidebar_list_inset li > a.active .arrow__icon
{
    background-position: left bottom -2px;
}.contents__sidebar_list_inset li:not(.sublist_parent) .active
{
    color: #6178d8;-webkit-border-radius: 100px;border-radius: 100px;background-color: #f5f4f9;;
}.contents-sidebar-wide .contents__box
{
    width: 866px;
}.contents-sidebar-wide .contents__sidebar
{
    width: 300px;
}.sublist_inset
{
    display: none;padding-left: 15px;list-style-type: none;
}.sublist_inset li
{
    padding: 0;
}.sublist_inset li a
{
    height: 50px;
}.accordion
{
    margin: 0;padding: 0;

    list-style-type: none;;
}.accordion li:first-child .accordion__item_description
{
    display: block;margin-bottom: 20px;
}.accordion__item
{
    border: 0 !important;border-bottom: 1px solid #e1e9f1 !important;
}.accordion__item:last-child
{
    border: 0 !important;
}.accordion__item [data-toggle='collapse']:not(.collapsed) .accordion__item_top_icon
{
    background-position: 0 -15px;
}.accordion__item [data-toggle='collapse']:not(.collapsed) h5
{
    color: #2c39e8;
}.accordion__item > a
{
    text-decoration: none;
}.accordion__item > a:hover,
.accordion__item > a:active
{
    text-decoration: none;
}.accordion__item li
{
    line-height: 28px;
}.accordion__item_top
{
    display: -webkit-box                                                                                                                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;width: 100%;-webkit-transition: all 0s ease;transition: all 0s ease;
}.accordion__item_top h5
{
    font-family: 'hindregular';font-size: 17px;font-weight: normal;

    margin-top: 1.4em;margin-bottom: 1.4em;color: #6178d8;
}.accordion__item_top:hover
{
    cursor: pointer;
}.accordion__item_top:hover h5
{
    color: #2c39e8;
}.accordion__item_top_icon
{
    width: 15px;height: 15px;-webkit-transition: all 0s ease;transition: all 0s ease;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/arrows.png') no-repeat 0 4px;;
}.arrow__icon_wrap
{
    display: -webkit-box                                                                                                                                                                                                                    ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;width: 30px;height: 30px;
}.arrow__icon_wrap > i
{
    font-size: 10px;
}.nav-link.active > .arrow__icon_wrap > i:before
{
    content: '\f110';
}.arrow__icon
{
    width: 15px;height: 7px;background: url('https://keenthemes.com/keen/themes/keen/doc/assets/img/arrows.png') no-repeat left -2px;
}.accordion__item_description
{
    display: none;
}.link
{
    text-decoration: none;

    color: #6178d8;;
}.link:hover
{
    color: #2c39e8;
}.lity-close
{
    top: 30px !important;right: 30px !important;
}.row--modify
{
    margin-right: -30px;
    margin-bottom: 50px;margin-left: -30px;padding-top: 100px;
}.row--modify .col-lg-6
{
    padding-right: 30px;padding-left: 30px;
}.comment__block
{
    margin-bottom: 60px;padding: 40px;-webkit-box-shadow: 0 0 15px 0 rgba(220,220,220,.4);box-shadow: 0 0 15px 0 rgba(220,220,220,.4);-o-box-shadow: 0 0 15px 0 rgba(220,220,220,.4);;
}.comment__block .title_h3
{
    margin-bottom: 40px;
}.comment__block p
{
    font-size: 17px;line-height: 30px;color: #7d8099;;
}.comment__block_author
{
    font-family: 'poppinsmedium';font-size: 16px;color: #333a49;;
}.comment__block_author span
{
    font-family: 'poppinsregular';font-size: 13px;color: #7d8597;;
}.comment__block_forward
{
    display: -webkit-box                                                                                                                            ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;;
}.comment__block_forward .button_purple
{
    display: inline-block;min-width: 94px;margin-right: 38px;;
}.comment__block_forward p
{
    line-height: 22px;

    margin-bottom: 0;;
}.button__hole
{
    font-family: 'hindbold';font-size: 15px;height: 50px;
    padding: 0 40px;cursor: pointer;text-transform: uppercase;color: #ff1d92;border: 1px solid #ff1d92;-webkit-border-radius: 50px;border-radius: 50px;background-color: transparent;;
}.button__hole:hover
{
    text-decoration: none;color: white;background-color: #ff1d92;;
}.pos_center
{
    display: inherit;margin: 0 auto;
}.fixedsticky
{
    top: 0;
}.accordion--dark .accordion__item_top h5
{
    font-size: 20px;color: #333a49;
}.sidebar__navigation
{
    position: relative;z-index: 95;
}.sidebar__navigation__list
{
    position: fixed;z-index: 94;top: 0;right: -250px;overflow: hidden;width: 250px;height: 100%;;
}.sidebar__navigation__list .contents__sidebar_list_inset
{
    overflow-y: auto;height: 100%;
    padding-top: 30px;;
}.sidebar__navigation__list .sublist_inset
{
    display: block;
}.sidebar__navigation_icon
{
    display: none;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;width: 40px;height: 30px;cursor: pointer;border: none;background-color: transparent;
}pre > code
{
    max-height: 500px;
}.hljs
{
    padding: 10px 20px !important;-webkit-border-radius: 3px;border-radius: 3px;
}.space-10
{
    line-height: 0;

    display: block;height: 0;margin-bottom: 10px;
}.space-15
{
    line-height: 0;

    display: block;height: 0;margin-bottom: 15px;
}.space
{
    line-height: 1px;

    display: block;height: 1px;margin-bottom: 25px;
}.space-30
{
    line-height: 0;

    display: block;height: 0;margin-bottom: 30px;
}.section .section-head
{
    font-size: 32px;
    font-weight: 600;margin-bottom: 40px;padding: 0;color: #333;
}.section .section-title
{
    font-size: 24px;font-weight: 500;margin-bottom: 15px;

    color: #333;;
}.section .section-subtitle
{
    font-size: 15px;font-weight: 500;margin-bottom: 20px;

    color: #333;;
}.section .section-content
{
    margin-bottom: 20px;

    color: #6f728d;;
}.table-list
{
    width: 100%;margin: 0;padding: 0;

    border: 1px solid #eee;-webkit-border-radius: 3px;border-radius: 3px;
}.table-list thead th
{
    font-weight: 400;

    padding: 10px 20px;vertical-align: middle;border-right: 1px solid #eee;background: #f7f7f9;
}.table-list thead th:last-child
{
    border-right: 0;
}.table-list tbody tr td
{
    font-weight: 400;padding: 10px 20px;vertical-align: middle;color: #6f728d;border-top: 1px solid #eee;border-right: 1px solid #eee;;
}.table-list tbody tr td:last-child
{
    border-right: 0;
}.table-list tbody tr td .file-node
{
    font-size: 12px;font-weight: 400;line-height: 12px;display: inline-block;

    margin-left: 10px;padding: 4px 9px 5px 6px;color: #232323;-webkit-border-radius: 3px;border-radius: 3px;background: #f4f4f7;;
}.table-list tbody tr td .file-node.file-node-line:before
{
    position: relative;top: 0;left: -15px;

    display: inline-block;content: '-';color: #232323;
}.table-list tbody tr td .file-node.file-node-dot:before
{
    position: relative;top: -2px;left: -15px;

    display: inline-block;width: 4px;height: 4px;content: ' ';-webkit-border-radius: 50%;border-radius: 50%;background: #232323;;
}.table-list td,
.table-list th
{
    font-size: 13px;
}.table-list td.force-border,
.table-list th.force-border
{
    border-top: 1px solid #eee;
}code
{
    padding: 3px 8px;color: #bd4147;-webkit-border-radius: 4px;border-radius: 4px;background: #f1f1f5;;
}.box
{
    margin-bottom: 15px;padding: 30px;

    background: #f7f7f9;;
}.tooltip
{
    opacity: 1 !important;
}.tooltip .tooltip-inner
{
    margin-left: -20px;padding: 15px 10px;

    opacity: 1;color: #111;background: #fff;-webkit-box-shadow: 0 0 15px 1px rgba(113,106,202,.3);box-shadow: 0 0 15px 1px rgba(113,106,202,.3);;
}.tooltip.bs-tether-element-attached-bottom .arrow:before,
.tooltip.bs-tooltip-top .arrow:before
{
    border-top-color: #fff;
}.tooltip.bs-tether-element-attached-top .arrow:before,
.tooltip.bs-tooltip-bottom .arrow:before
{
    border-bottom-color: #fff;
}.form-control::-webkit-input-placeholder
{
    color: #c8c8c8;
}.form-control::-moz-placeholder
{
    color: #c8c8c8;
}.form-control:-ms-input-placeholder
{
    color: #c8c8c8;
}.form-control:-moz-placeholder
{
    color: #c8c8c8;
}.doc-side-menu
{
    font-family: 'hindregular';font-size: 16px;font-weight: 200;top: 0;

    overflow: hidden;width: 300px;color: #5d607b;
}.doc-side-menu .menu-list
{
    margin-top: 20px;padding-right: 20px;
}.doc-side-menu .brand
{
    font-size: 14px;
    line-height: 50px;display: block;text-align: center;;
}.doc-side-menu .toggle-btn
{
    display: none;
}.doc-side-menu ul,
.doc-side-menu li
{
    line-height: 50px;margin: 0;padding: 0;

    list-style: none;cursor: pointer;
}.doc-side-menu ul.menu-content .arrow
{
    font-size: 10px;

    float: right;;
}.doc-side-menu ul.menu-content .arrow:before
{
    font-family: Lineawesome;display: inline-block;float: right;padding-right: 10px;padding-left: 10px;

    content: '\f111';vertical-align: middle;;
}.doc-side-menu ul.menu-content li[aria-expanded='true'] > a > .arrow:before
{
    content: '\f110';
}.doc-side-menu ul.menu-content li.active > a
{
    color: #6178d8;-webkit-border-radius: 100px;border-radius: 100px;background-color: #faf9fd;;
}.doc-side-menu ul.menu-content .sub-menu
{
    margin: 5px 0;
}.doc-side-menu ul.menu-content .sub-menu li.active,
.doc-side-menu ul.menu-content li .sub-menu li.active,
.doc-side-menu ul.menu-content ul .sub-menu li.active a,
.doc-side-menu ul.menu-content li .sub-menu li.active a
{
    color: #6178d8;
}.doc-side-menu ul.menu-content .sub-menu li,
.doc-side-menu ul.menu-content li .sub-menu li
{
    line-height: 50px;padding-left: 30px;

    border: none;;
}.doc-side-menu ul.menu-content li a
{
    display: block;padding: 3px 20px 3px 30px;text-decoration: none;color: #5d607b;
}.doc-side-menu ul.menu-content li a i
{
    width: 20px;padding-right: 20px;
    padding-left: 10px;;
}.doc-side-menu ul.menu-content li a:hover
{
    -webkit-transition: all 1s ease                                                                                                                                    ;transition: all 1s ease;

    color: #6178d8;;
}.intro-header
{
    margin: 0;
}.intro-header .desc
{
    margin: auto 0;
    padding-bottom: 55px;;
}.intro-header .desc .title
{
    font-family: 'poppinsregular';font-size: 28px;font-weight: 600;margin: 0;

    color: #514c5b;;
}.intro-header .desc .title span
{
    color: #9194a6;
}.intro-header .desc .text
{
    font-family: 'poppinsregular';font-size: 17px;line-height: 2em;

    margin: 30px 0;color: #aba5b7;;
}.intro-header .desc .text span
{
    color: white;
}.intro-header .desc .listing
{
    font-family: 'poppinsregular';font-size: 16px;line-height: 50px;padding: 0;list-style: none;

    color: #514c5b;;
}.intro-header .desc .listing li
{
    position: relative;padding-left: 20px;
}.intro-header .desc .listing li .bullet
{
    position: absolute;top: 50%;left: 0;width: 8px;height: 5px;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);-webkit-border-radius: 30px;border-radius: 30px;
    background-color: #6e4ff6;;
}.intro-header .desc .buttons a
{
    margin-right: 10px;
    margin-bottom: 10px;;
}.owl-theme .owl-dots
{
    position: absolute;right: 0;bottom: 20px;left: 0;;
}.owl-theme .owl-dots .owl-dot span
{
    width: 30px;-webkit-border-radius: 50px;border-radius: 50px;
}.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span
{
    background: #6e4ff6;
}.owl-theme .owl-stage-outer
{
    -webkit-border-radius: 10px                                                                                                                                                                                                                    ;border-radius: 10px;
    -webkit-box-shadow: 0 0 43px 0 rgba(22,31,99,.07);box-shadow: 0 0 43px 0 rgba(22,31,99,.07);-o-box-shadow: 0 0 43px 0 rgba(22,31,99,.07);;
}.sub-header
{
    font-family: 'poppinsregular';line-height: 30px;padding: 100px 0;text-align: center;color: white;;
}.sub-header .title
{
    font-family: 'poppinsregular';
    font-size: 34px;;
}.sub-header .title > span
{
    font-family: 'hindsemibold';
}.sub-header .sub-title
{
    font-size: 19px;

    margin-top: 40px;;
}.vid-list-title
{
    margin-bottom: 20px;
}.vid-list + .vid-list
{
    margin-top: 30px;
}@media screen and (max-width: 1280px)
{
    .main-title
    {
        padding: 0 15px;
    }.content
    {
        width: 100%;
        padding: 0 15px;;
    }.content.content--fluid
    {
        margin: 0;
    }.main__menu_wrap
    {
        display: none;
    }.sidebar
    {
        display: -webkit-inline-box                                                                                                        ;display: -webkit-inline-flex;display: -ms-inline-flexbox;display:         inline-flex;
    }.section--padding
    {
        padding-top: 0;
    }.theme__column
    {
        margin-top: 40px;
    }.theme__row
    {
        -webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;
        -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;
    }.theme__column
    {
        width: auto;
    }.section--header
    {
        padding-top: 68px;
    }header
    {
        position: fixed;z-index: 99;top: 0;left: 0;height: 68px;border-bottom: 1px solid rgba(255,255,255,.3);background-color: rgba(57,24,106,.7);;
    }.contents__box
    {
        width: 100%;
    }.contents__box--left
    {
        margin-right: 50px;
    }.contents__box--right
    {
        margin-left: 50px;
    }.content--padding
    {
        padding: 50px 0;
    }
}@media screen and (max-width: 992px)
{
    .comment__block
    {
        margin-bottom: 30px;
    }.theme__row .theme__column
    {
        width: auto;
    }
}@media screen and (max-width: 972px)
{
    .advantages__block
    {
        width: 49%;
    }
}@media screen and (max-width: 940px)
{
    .blockquote
    {
        font-size: 16px;line-height: 32px;

        width: auto;background-repeat: no-repeat;background-size: contain;;
    }
}@media screen and (max-width: 845px)
{
    .section--bg
    {
        padding: 50px 0;
    }.content--padding
    {
        padding: 50px 0;
    }.blockquote
    {
        height: auto;
        padding: 20px;background: none;
    }.blockquote__author
    {
        position: static;display: block;padding-top: 20px;text-align: right;
    }footer
    {
        padding: 50px 30px;
    }footer > img
    {
        margin-bottom: 30px;
    }.subscribe
    {
        margin-bottom: 20px;
    }
}@media screen and (max-width: 768px)
{
    .contents__sidebar_list
    {
        height: 200px;
    }.contents
    {
        -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;padding-top: 50px;
    }.contents__box--left
    {
        margin-right: 0;margin-bottom: 50px;
    }.contents__box--right
    {
        margin-left: 0;
    }.contents__sidebar--mn
    {
        margin-bottom: 50px;
    }.contents__sidebar
    {
        display: -webkit-box                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;display: -webkit-flex;display: -ms-flexbox;display:         flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;-ms-flex-align: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;width: 100%;padding-top: 0 !important;;
    }.contents__sidebar_blocks
    {
        width: 50%;padding-right: 30px;
    }.sidebar__navigation_icon
    {
        display: -webkit-box                                                                                                        ;display: -webkit-flex;display: -ms-flexbox;display:         flex;
    }.sidebar-hide
    {
        display: none;
    }header > .content
    {
        padding-right: 12px;
        padding-left: 12px;;
    }.intro-header .owl-carousel .item
    {
        padding-left: 0;
    }.hamburger
    {
        display: block;
    }.blockquote .blockquote__author
    {
        margin: 0;padding-bottom: 50px;
    }
}@media screen and (max-width: 650px)
{
    .advantages__block
    {
        width: 100%;
    }.theme__column_top
    {
        -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: start;-ms-flex-pack: start;-webkit-justify-content: flex-start;justify-content: flex-start;
    }
}@media screen and (max-width: 550px)
{
    .subscribe
    {
        width: 100%;
    }.advantages__block
    {
        padding: 30px;
    }.header__references_purchase
    {
        margin-left: 14px;
    }.row--modify
    {
        margin-bottom: 0;
    }.section--padding
    {
        padding-bottom: 50px;
    }
}@media screen and (max-width: 500px)
{
    .contents__sidebar--doc
    {
        -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;
    }.contents__sidebar_blocks
    {
        width: 100%;
    }.theme__column_inner
    {
        padding-right: 15px;padding-left: 15px;
    }
}@media screen and (max-width: 400px)
{
    .theme__column_top h3
    {
        font-size: 20px;
    }.theme__column_top h3 span
    {
        font-size: 18px;
    }
}@media (max-width: 1200px)
{
    .advantages .advantages__block.first-column
    {
        border-left: 1px solid #f1f2f3;
    }
}@media (max-width: 768px)
{
    .doc-side-menu
    {
        position: relative;width: 100%;margin-bottom: 10px;
    }.doc-side-menu .toggle-btn
    {
        position: absolute;z-index: 10 !important;top: 0;right: 10px;

        display: block;width: 40px;padding: 3px;cursor: pointer;text-align: center;color: #000;background-color: #fff;;
    }.brand
    {
        font-size: 22px;line-height: 50px !important;padding-left: 20px;

        text-align: left !important;;
    }
}@media (min-width: 769px)
{
    .doc-side-menu .menu-list .menu-content
    {
        display: block;
    }
}

/* CUSTOM */
.logo
{
    width: 120px;
}

.kt-header
{
    background: #1a5632 !important;
}

.kt-badge.kt-badge--brand
{
    background: #1a5632;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text
{
    color: #58595b !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon
{
    color: rgba(87, 88, 91, .5) !important;
}

.kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text
{
    color: #fff !important;
    padding: 0 8px !important;
}

.kt-nav__link-text.active
{
    color: #fff;
}

.kt-nav__link-text.active:hover,
.kt-nav__link-text.active:focus
{
    color: #1a5632;
}

.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active,
.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link:hover,
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active,
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link:hover
{
    color: #9f2241;
    border-bottom: 1px solid #9f2241;
}

.kt-switch input:checked ~ span:after
{
    background-color: #9f2241;
}

.btn-primary,
.btn-brand,
.btn-brand:not(:disabled):not(.disabled).active,
.btn-brand:not(:disabled):not(.disabled):active,
.show>.btn-brand.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover, .show>.btn.btn-default
{
    border-color: #9f2241;
    background-color: #9f2241;
}

.btn-primary:hover,
.btn-brand:hover
{
    color: #9f2241;
    border-color: #9f2241;
    background-color: #fff;
}

.kt-scrolltop
{
    background: #1a5632;
}

.btn.btn-label-brand
{
    color: #9f2241;
    background-color: rgba(159, 34, 65, .1);
}

a.btn.btn-label-brand.active,
a.btn.btn-label-brand:focus,
a.btn.btn-label-brand:hover,
button.btn.btn-label-brand.active,
button.btn.btn-label-brand:focus,
button.btn.btn-label-brand:hover,
input.btn.btn-label-brand.active,
input.btn.btn-label-brand:focus,
input.btn.btn-label-brand:hover,
label.btn.btn-label-brand.active,
label.btn.btn-label-brand:focus,
label.btn.btn-label-brand:hover,
.pagination.pagination--grid .page-item.active .page-link, .pagination.pagination--grid .page-item:focus .page-link, .pagination.pagination--grid .page-item:hover .page-link{
  background-color: #9f2241;
}

.kt-blog-list .kt-blog-list__body .kt-blog-list__link{
  color: #9f2241;
}

.kt-blog-list .kt-blog-list__body .kt-blog-list__link:focus .kt-blog-list__title, .kt-blog-list .kt-blog-list__body .kt-blog-list__link:hover .kt-blog-list__title{
  color: #1a5632;
}

a, a:hover{
  color: #9f2241;
}

.kt-subheader .kt-subheader__toolbar .kt-subheader__search .form-control{
  background: #fff;
}

.kt-subheader .kt-subheader__toolbar .kt-subheader__search .input-group-text{
  background-color: #fff;
  color: #9f2241;
}

.kt-subheader .kt-subheader__toolbar .kt-subheader__search .input-group-text i{
  color: #9f2241;
}

.auto-btn{
  color: #fff;
  background-color: #1a5632;
  border: 1px solid #1a5632;
  padding: 0 15px;
  margin: 10px 0;
  border-radius: 4px;
}

.auto-btn:hover{
  border: 1px solid #1a5632;
  color: #1a5632;
  background-color: #fff;
}

/* Login */

.kt-login-v2 .kt-login-v2__body .kt-login-v2__wrapper .kt-login-v2__container .kt-login-v2__actions .btn:hover{
  color: #9f2241;
}

.btn.btn-brand.btn-elevate.active, .btn.btn-brand.btn-elevate:active, .btn.btn-brand.btn-elevate:focus, .btn.btn-brand.btn-elevate:hover, .show>.btn.btn-brand.btn-elevate{
  box-shadow: 0 9px 16px 0 rgba(159, 34, 65, 0.25) !important;
}

.kt-login-v2__wrapper .kt-link.kt-link--brand{
  color: #636576;
  text-decoration: none !important;
}

.kt-login-v2__wrapper .kt-link.kt-link--brand:hover{
  color: #9f2241;
  text-decoration: none !important;
}

.kt-login-v2 .kt-login-v2__body .kt-login-v2__image>img{
  width: 220px;
  max-width: none;
  margin-bottom: 20px;
}

.kt-login-v2 .kt-login-v2__body p{
  width: 70%;
  font-family: sans-serif;
  font-size: 16px;
}

.badge-primary{
  background-color: #1a5632;
}

.kt-bg-brand{
  background-color: #9f2241 !important;
}

.kt-widget.kt-widget--general-3 .kt-widget__top .kt-widget__wrapper .kt-widget__stats .kt-widget__stat .kt-widget__value{
  color: #9f2241;
}

/* Izu's Edit */

a.btn.btn-label-brand.active,
a.btn.btn-label-brand:focus,
a.btn.btn-label-brand:hover,
button.btn.btn-label-brand.active,
button.btn.btn-label-brand:focus,
button.btn.btn-label-brand:hover,
input.btn.btn-label-brand.active,
input.btn.btn-label-brand:focus,
input.btn.btn-label-brand:hover,
label.btn.btn-label-brand.active,
label.btn.btn-label-brand:focus,
label.btn.btn-label-brand:hover,
.pagination.pagination--grid .page-item.active .page-link, .pagination.pagination--grid .page-item:focus .page-link, .pagination.pagination--grid .page-item:hover .page-link,
/* Added from here */
.pagination .page-item.active .page-link, .pagination .page-item:focus .page-link, .pagination .page-item:hover .page-link{
  background-color: #9f2241;
}
.pagination .page-item.active .page-link {
    background-color: #9f2241;
    border-color: #9f2241;
}
.pagination .page-link {
    color: #9f2241;
}
.pagination .page-item .page-link:hover {
    color: #fff;
}

.auto-btn{
  color: #fff;
  background-color: #1a5632;
  border: 1px solid #1a5632;
  padding: 0 15px;
  margin: 10px 0;
  border-radius: 3px;
  font-size: 1rem;
}
.auto-btn:hover{
  border: 1px solid #1a5632;
  color: #1a5632;
  background-color: #fff;
}

.reports .card {
    margin-bottom: 30px;
  }
  
  .reports .card h3 {
    color: #9F2241;
  }
  
  .reports .card p {
    margin-bottom: 0;
  }
  
  .data-table table thead tr th {
    font-weight: 500;
  }
  
  .data-table table tbody tr td {
    color: #58595B;
  }
  
  .data-table table tbody tr .active {
    color: #009C43;
  }
  
  .data-table table tbody tr .inactive {
    color: #E02020;
  }
  
  .data-table table tbody tr .pending {
    color: #F7B500;
  }
  
  .quick-actions button {
    background: #fff;
    color: #9F2241;
    border-image: none;
    border: 1px solid #9F2241;
  }
  
  .quick-actions .filter {
    margin-right: 12px;
  }
  
  .filter-modal .modal-dialog-slideout {
    min-height: 90%;
    margin: 55px 0 0 auto;
    background: #fff;
    max-width: 350px;
  }
  
  @media (max-width: 1440px) {
    .filter-modal .modal-dialog-slideout {
      margin-top: 45px;
    }
  }
  
  .filter-modal.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%, 0) scale(1);
    transform: translate(100%, 0) scale(1);
  }
  
  .filter-modal.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 90%;
  }
  
  .filter-modal.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .filter-modal .modal-dialog-slideout .modal-content {
    border: 0;
  }
  
  .filter-modal .modal-dialog-slideout .modal-footer,
  .filter-modal .modal-dialog-slideout .modal-header {
    display: block;
  }
  
  .filter-modal .modal-dialog-slideout .modal-header {
    background: #fff;
    border: none;
  }
  
  .filter-modal .modal-dialog-slideout .modal-header h2 {
    float: left;
    font-size: 24px;
  }
  
  .filter-modal .modal-dialog-slideout .modal-header a {
    color: #9F2241;
    font-weight: 400;
    font-size: 14px;
  }
  
  .age-range {
    margin: 20px 0 0;
  }
  
  .age-range h6 {
    margin-bottom: 16px;
  }
  
  
/* Izu's Edit End */












/* END */
